html{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
	text-decoration: underline;
}

h1{
	text-align: right;
	margin: 0;
}

h3{
	text-align: center;
	background-color: black;
	color: white;
}

hr{
	height: 5px;
	background-color: black;
	border: 0;
}

ul{
	margin-top: 5px;
	margin-bottom: 5px;
}

.center{
	text-align: center;
}

.small{
	font-size: 9pt;
}

.location{
	margin-bottom: 0;
	margin-top: 0;
}

.title{
	margin-top: 0;
	margin-bottom: 0;
	font-style: italic;
}

#basic_info{
	text-align: center;
	font-weight: lighter;
	font-style: italic;
	margin: 0;
}
